---

// Fundations
import Header from "@/components/fundations/containers/Header.astro";
import Button from "@/components/fundations/elements/Button.astro";
---

<section class="bg-base-100 dark:bg-base-700">
  <Header
    title="Astro JS Documentation"
    description="Leverage the Astro JS API to access components, pages, server-side features, and more—making it easy to integrate your project into the workflows of countless dedicated Astro developers."
    innerClass="pt-24 "
  >
    <div class="flex flex-wrap items-center w-full mt-8 just gap-2">
      <Button
        isLink={true}
        size="xs"
        variant="accent"
        href="/docs/getting-started/introduction">Get started</Button
      >
      <Button isLink={true} size="xs" variant="muted" href="/docs/api/overview"
        >Astro Features</Button
      >
    </div>
  </Header>
</section>
