---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
// Icons
import GitHub from "@/components/fundations/icons/GitHub.astro";
import GoogleColor from "@/components/fundations/icons/GoogleColor.astro";
---

<BaseLayout hideNav="{true}" hideFooter="{true}">
  <section>
    <div
      class="relative flex flex-col items-center justify-center w-full h-svh px-8 py-12"
    >
      <div class="w-full max-w-md mx-auto">
        <div>
          <a href="/">
            <span class="sr-only">Back to home</span>
            <Logo class="h-8 text-base-900 dark:text-white" />
          </a>
          <Text
            tag="h1"
            variant="displayMD"
            class="mt-12 font-medium text-base-900 dark:text-white"
          >
            Sign up
          </Text>
        </div>
        <form class="mt-10 space-y-4">
          <div class="w-full">
            <div class="flex items-baseline justify-between mb-1">
              <label
                for="email"
                class="text-sm font-medium text-base-600 dark:text-base-300"
              >
                Email Address
              </label>
            </div>
            <div class="relative z-0 focus-within:z-10">
              <input
                id="email"
                name="email"
                type="email"
                class="block w-full px-4 py-2 text-xs leading-tight bg-white border border-transparent align-middle dark:bg-base-900 dark:border-base-800 text-base-600 dark:text-base-300 ring-1 ring-base-200 dark:ring-base-700 placeholder-base-400 dark:placeholder-base-500 focus:z-10 h-9 rounded-md transition duration-300 ease-in-out focus:border-accent-500 focus:ring-2 focus:ring-accent-100 dark:focus:ring-accent-300 focus:outline-none shadow-sm"
                inputmode="email"
              />
            </div>
          </div>
          <div class="w-full">
            <div class="flex items-baseline justify-between mb-1">
              <label
                for="password"
                class="text-sm font-medium text-base-600 dark:text-base-300"
              >
                Password
              </label>
            </div>
            <div class="relative z-0 focus-within:z-10">
              <input
                required
                id="password"
                name="password"
                type="password"
                class="block w-full px-4 py-2 text-xs leading-tight bg-white border border-transparent align-middle dark:bg-base-900 dark:border-base-800 text-base-600 dark:text-base-300 ring-1 ring-base-200 dark:ring-base-700 placeholder-base-400 dark:placeholder-base-500 focus:z-10 h-9 rounded-md transition duration-300 ease-in-out focus:border-accent-500 focus:ring-2 focus:ring-accent-100 dark:focus:ring-accent-300 focus:outline-none shadow-sm"
                aria-required="true"
              />
            </div>
          </div>
          <div class="w-full">
            <div class="flex items-baseline justify-between mb-1">
              <label
                for="confirm-password"
                class="text-sm font-medium text-base-600 dark:text-base-300"
              >
                Confirm Password
              </label>
            </div>
            <div class="relative z-0 focus-within:z-10">
              <input
                required
                id="confirm-password"
                name="confirm-password"
                type="password"
                class="block w-full px-4 py-2 text-xs leading-tight bg-white border border-transparent align-middle dark:bg-base-900 dark:border-base-800 text-base-600 dark:text-base-300 ring-1 ring-base-200 dark:ring-base-700 placeholder-base-400 dark:placeholder-base-500 focus:z-10 h-9 rounded-md transition duration-300 ease-in-out focus:border-accent-500 focus:ring-2 focus:ring-accent-100 dark:focus:ring-accent-300 focus:outline-none shadow-sm"
                aria-required="true"
              />
            </div>
          </div>
          <div class="flex flex-wrap items-center gap-2">
            <Button
              size="base"
              variant="accent"
              gap="sm"
              type="submit"
              class="w-fit"
            >
              Sign in with email
            </Button>
            <span class="text-sm lg:mx-4 text-base-600 dark:text-base-300"
              >Or use</span
            >
            <Button iconOnly size="sm" variant="muted" type="submit">
              <GoogleColor slot="icon" size="base" />
            </Button>
            <Button iconOnly size="sm" variant="muted" type="submit">
              <GitHub slot="icon" size="base" />
              Sign in with Google
            </Button>
          </div>
        </form>
        <p class="mt-4 text-xs font-medium text-base-600 dark:text-base-300">
          Already have an account?
          <a
            href="/sign-in"
            class="font-medium text-accent-500 hover:text-base-600 dark:text-base-300"
          >
            Sign in
          </a>
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
