---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundatons
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const footerLinks = [
  {
    heading: "Documents",
    links: [
      { label: "Droit international privé", href: "/docs/droit-international-prive/methode-savignienne" },
      { label: "Droit du commerce international", href: "/docs/droit-commerce-international/fiche-synthetique-dci" },
      { label: "Sociologie politique", href: "/docs/sociologie-politique/synthese-chap12-section1" },
      { label: "Sujet minier", href: "/docs/sujet-minier/analyse-croisee-gouvernance-miniere-madagascar" },
    ],
  },
  {
    heading: "Autres",
    links: [
      { label: "Développement", href: "/docs/developpement/prototype-A-reglementation-stn" },
      { label: "Culture", href: "/docs/culture/sources-culturelles" },
    ],
  },
  {
    heading: "Sources",
    links: [
      { label: "Cours Clavel (DIP)", href: "/docs/droit-international-prive/clavel-hypercours" },
      { label: "EITI Rapports", href: "/docs/sujet-minier/eiti-rapport-assoupli-2019-2020" },
      { label: "DALLOZ DCI", href: "/docs/droit-commerce-international/dalloz-dci" },
    ],
  },
];
---

<footer class="border-t border-base-200 dark:border-base-800">
  <Wrapper variant="standard" class="py-4">
    <div class="p-8">
      <a
        href="/"
        class="flex items-center font-mono text-lg font-semibold gap-2 text-base-900"
      >
        <span class="sr-only">Go to homepage</span>
        <Logo class="h-4 text-base-900 dark:text-white" />
        Alex Workspace
      </a>
      
      <div
        class="mt-8 md:grid md:grid-cols-2 lg:grid-cols-5 md:gap-8 xl:col-span-2"
      >
        {
          footerLinks.map((section) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-base-900 dark:text-white font-display">{section.heading}</h3>
              <ul role="list" class="mt-4 text-sm space-y-2 text-base-500">
                {section.links.map((link) => (
                  <li>
                    <a
                      title="Button to your page"
                      aria-label="your label"
                      href={link.href}
                      class="hover:text-black"
                    >
                      {link.label}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </Wrapper>
</footer>
