---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundatons
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const footerLinks = [
  {
    heading: "Navigation",
    links: [
      { label: "Overview", href: "/system/overview" },
      { label: "Buttons", href: "/system/buttons" },
      { label: "Links", href: "/system/links" },
      { label: "Colors", href: "/system/colors" },
      { label: "Typography", href: "/system/typography" },
    ],
  },
  {
    heading: "Resources",
    links: [
      { label: "Quick Start", href: "/docs/getting-started/quick-start" },
      { label: "API Reference", href: "/docs/api/overview" },
      { label: "Guides", href: "/docs/guides/configuration" },
      { label: "Support", href: "/docs/help/faq" },
    ],
  },
  {
    heading: "Stay Updated",
    links: [
      {
        label: "License",
        href: "https://www.lexingtonthemes.com/legal/license",
      },
      {
        label: "Documentation",
        href: "https://www.lexingtonthemes.com/documentation",
      },
      {
        label: "Blog",
        href: "/blog",
      },
    ],
  },
  {
    heading: "Social",
    links: [
      {
        label: "@lexingtonthemes",
        href: "https://twitter.com/lexingtonthemes",
      },
      {
        label: "@Mike_Andreuzza",
        href: "https://twitter.com/Mike_Andreuzza",
      },
    ],
  },
  {
    heading: "More Themes",
    links: [
      {
        label: "Lexington Themes",
        href: "https://lexingtonthemes.com/",
      },
    ],
  },
];
---

<footer class="border-t border-base-200 dark:border-base-800">
  <Wrapper variant="standard" class="py-4">
    <div class="p-8">
      <a
        href="/"
        class="flex items-center font-mono text-lg font-semibold gap-2 text-base-900"
      >
        <span class="sr-only">Go to homepage</span>
        <Logo class="h-4 text-base-900 dark:text-white" />
        ZeroIndex
      </a>
      
      <div
        class="mt-8 md:grid md:grid-cols-2 lg:grid-cols-5 md:gap-8 xl:col-span-2"
      >
        {
          footerLinks.map((section) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-base-900 dark:text-white font-display">{section.heading}</h3>
              <ul role="list" class="mt-4 text-sm space-y-2 text-base-500">
                {section.links.map((link) => (
                  <li>
                    <a
                      title="Button to your page"
                      aria-label="your label"
                      href={link.href}
                      class="hover:text-black"
                    >
                      {link.label}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </Wrapper>
</footer>
