---
interface Props {
  class?: string;
}
const { class: className = "" } = Astro.props;
---

<div class={`flex flex-col lg:flex-row lg:divide-x lg:divide-base-200 dark:divide-base-800 ${className}`}>
  <div class="flex-1">
    <slot name="main" />
  </div>
  <aside class="hidden w-64 p-4 pl-0 lg:min-h-svh lg:block lg:sticky lg:top-14 lg:self-start">
    <slot name="rightAside" />
  </aside>
</div>
