---
// Fundations
import Button from "@/components/fundations/elements/Button.astro";
// Icons
import Menu from "@/components/fundations/icons/Menu.astro";
---

<Button
  iconOnly
  size="sm"
  variant="muted"
  id="mobile-menu-toggle"
  aria-label="Open menu"
  class="shrink-0"
>
  <Menu slot="icon" size="sm" />
</Button>
